.app-container {
  background: linear-gradient(135deg, rgb(0, 0, 0) 0%, rgb(255, 255, 255) 100%);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Times New Roman", Times, serif;
}

.card {
  background: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.title {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  font-size: 25px;
}

.input-group {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.input-field {
  flex: 1;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 16px;
  outline: none;
}

.input-field:focus {
  border-color: rgb(0, 255, 8);
}

.add-button {
  padding: 12px 20px;
  background: rgb(3, 160, 9);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background 0.3s;
}

.add-button:hover {
  background: rgb(0, 255, 13);
}

.empty-msg {
  text-align: center;
  color: #aaa;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  background: #f9f9f9;
  border-radius: 8px;
  margin-bottom: 10px;
  border-left: 5px solid rgb(0, 255, 8);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.item-text {
  font-size: 16px;
  color: #555;
  font-weight: 500;
}

.delete-button {
  background: #ff4d4d;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  margin-left: 10px;
}

.delete-button:hover {
  background: rgb(255, 0, 0);
}